.contact-header {
 background-image:url('../images/header.jpg');
 background-size:cover;
 height:200px;
 background-position:center;
}

#edit {
 background-color:yellow;
 border:none;
}

#delete {
 background-color:red;
 border:none;
}