@(contacts: List[Contact])

@Main("Digits database") {
   <div class="container">
     <h1>Current Contacts</h1>
     <table class="table table-bordered">
        <tr>
            <th>First name</th>
            <th>Last name</th>
            <th>Phone number</th>
        </tr>
        @if(!contacts.isEmpty()) {
            @for(contact <- contacts) {
                <tr>
                    <td>@contact.getFirst()</td>
                    <td>@contact.getLast()</td>
                    <td>@contact.getPhone()</td>
                </tr>
            }
        }
     </table>
   </div>
}
